{% extends "residencial.html" %}
{% block resultado %}
	<h2>{{titulo}} </h2>
	<table class = "table table-striped">
		<thead class="thead-inverse">
			<tr>
				<th>No. de paneles</th>
				<th>Pago a CFE</th>
				<th>Ahorro</th>
				
			</tr>
		</thead>
		<tbody>
			{% for item in lista %}
				<tr>
				
				{% for subitem in item%}
					<td> {{subitem}} </td>
				{%endfor%}
				<td><a href="cotizacion-residencial/{{item.0}}/{{item.2}}/{{item.1}}" > imprimir</a></td>
		  		</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}